{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Pantry Items</h2>


{% for table in category %}
<div class="table">
    <h3>{{table.Title}}</h3>
    <table>
        <tr>
            <td>Item</td>
            <td>Inventory</td>
        </tr>
        {% for item in table.item_set.all %}
        <tr>
            <td>{{item.Title}}</td>
            <td>{{item.Inventory}}</td>
            <td><a href="{% url 'edit_pantry' item.pk %}"> Edit Inventory</a></td>
        </tr>
        {% endfor %}
    </table>
    
</div>
{% endfor %}



{% endblock %}